.link-icons-body {
  display: flex;
  //align-items: center;
  //justify-content: center;
  //min-height: 100vh;
  //border: 3px red solid;
}

.link-icons-container {
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
  //justify-content: space-evenly;
  //border: 3px solid blue;
}

.link-icons-container .icon {
//   width: 4rem;
width: 10rem;
margin-right: 1rem;
  //border: 4px green solid;
}

.link-icons-container .icon path {
  fill: transparent;
  stroke: 10;
//   stroke: $secondary-color;
stroke: white;
  stroke-width: 13
}

.link-icons-container .icon.github path {
  stroke-dasharray: 2850;
  stroke-dashoffset:0;
}

.link-icons-container .icon.github:hover path {
  animation: animate-github .35s linear forwards;
}

@keyframes animate-github {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 2850;
  }
  80% {
    stroke-dashoffset: 5700;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 5700;
    fill: $secondary-color;
  }
}

.link-icons-container .icon.linkedIn path {
  stroke-dasharray: 1960;
  stroke-dashoffset: 0;
}

.link-icons-container  .icon.linkedIn:hover path {
  animation: animate-linkedIn .35s linear forwards;
}

@keyframes animate-linkedIn {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1960;
  }
  80% {
    stroke-dashoffset: 3920;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 3920;
    fill: $secondary-color;
  }
}

.link-icons-container .icon.resume path {
  stroke-dasharray: 1780;
  stroke-dashoffset: 0;
}

.link-icons-container .icon.resume:hover path {
  animation: animate-resume .35s linear forwards;
}

@keyframes animate-resume {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 1780;
  }
  80% {
    stroke-dashoffset: 3560;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 3560;
    fill: $secondary-color;
  }
}

// .link-icons .icon.moon path {
//   stroke-dasharray: 1550;
//   stroke-dashoffset: 0;
// }

// .link-icons .icon.moon:hover path {
//   animation: animate-moon .5s linear forwards;
// }

// @keyframes animate-moon {
//   0% {
//     stroke-dashoffset: 0;
//   }
//   40% {
//     stroke-dashoffset: 1550;
//   }
//   80% {
//     stroke-dashoffset: 3100;
//     fill: transparent;
//   }
//   100% {
//     stroke-dashoffset: 3100;
//     fill: $secondary-color;
//   }
// }
