@import "config";
@import "menu";
@import "mood";
@import "product-card";
@import "link-icons";
@import "about";

* {
  box-sizing: border-box;
}

// html {
//   &[data-theme='sunny'] {
//     $primary-color: rgb(107, 92, 63) !global;
//     $secondary-color: #f79e02 !global;
//   }
//   &[data-theme="rainy"] {
//     $primary-color: rgba(13, 25, 163, 0.76) !global;
//     $secondary-color: #15db95 !global;
//   }
// }



body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", "Tahoma", Geneva, Verdana, sans-serif;
  line-height: 1.5;
  //overflow: hidden;
}

//Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  

  &.lg-heading {
    font-size: 6rem;
    text-shadow: 3px 3px 5px black;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.8);
  }
}
h2 {
  box-shadow: 2px 2px 5px black;
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 12;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 1rem 4rem;
  //height: 100%;
  min-height: calc(100vh-60px);

  .icons {  
    display:flex;
    margin-top: .5rem;
     border:solid red 1px;
    height: 2rem;
    // a {
    //   padding: 0.4rem;
    //   border: solid blue 1px;

    //   &:hover {
    //     color: $secondary-color;
    //     @include easeOut();
    //   }

    svg {
      margin-right: 2rem;
      // border: solid blue 1px;
      height:100%;
      border:green 1px solid;
      margin-right: 2.4rem;

      &:hover {
        fill: $secondary-color;
        @include easeOut();
      }

    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

p {
  font-size: 1.5rem;
  margin: 1rem 3rem;
}



//work projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    border: 1px white solid;

    // &:hover {
    //   opacity: 0.5;
    //   border-color: $secondary-color;
    //   @include easeOut;
    // }
  }
}

//contacts page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 1px white solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

//button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color ($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: white;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: black;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
  bottom: 1rem;
}

@import "mobile";

// //profile pic

// .face-down, .face-up {
//   background-image: url('../dist/img/mypics/facePics/face-sprite.png');
//   background-repeat: no-repeat;
// }

// .face-down {
//   height: 800px;
//   background-position: -5px 0px;
//   border: 1px solid yellow;
// }

// .face-up {
//   height: 400px;
//   background-position: 0px, -401px;
// }


//project one
.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 35px;
}

.slide .content h1 {
  margin-bottom: 10px;
}

.slide.current .content {
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
  position: absolute;
  top: 40%;
  right: 15px;
}

.buttons button#prev {
  position: absolute;
  top: 40%;
  left: 15px;
}

.buttons button {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover {
  background-color: #fff;
  color: #333;
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}



/* Backgorund Images */

/* Full size */
 
.slide:first-child {
  background: url('/../dist/img/mypics/art/home-page.JPG') no-repeat
    center top/cover;
    
}
.slide:nth-child(2) {
  background: url('/../dist/img/mypics/art/lease-pop-out.JPG') no-repeat
    center top/cover;
}
.slide:nth-child(3) {
  background: url('/../dist/img/mypics/art/checklist.JPG') no-repeat
    center top/cover;
}
.slide:nth-child(4) {
  background: url('/../dist/img/mypics/art/email-page.JPG') no-repeat
    center top/cover;
}
.slide:nth-child(5) {
  background: url('/../dist/img/mypics/art/data-tab.JPG') no-repeat
    center top/cover;
} 
.slide:nth-child(6)  {
  background: url('/../dist/img/mypics/art/vba.JPG') no-repeat
    center center/cover;
}

// /home/mtn-drew/code-projects/profile/scss/main.scss
// /home/mtn-drew/code-projects/profile/dist/img/mypics/art/home-page.JPG


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  }

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: .2s linear;
   animation: odsoky .4s ease-in-out infinite  alternate;
  //animation: odsoky .2 ease-in-out infinite alternate;

}
@keyframes odsoky {
  0%{
    transform: translateY(6px); 
  }

  100%{
    transform: translateY(1px); 
  }
}