.product-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #131313;
  margin: 0;
  padding: 0;
}

.product-container {
  position: relative;
}

.product-container .product-card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #2c2b2b;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 5px black;
}

.product-card h2 {
  box-shadow: none;
}

.h1div {
  //border: 1px solid red;
  //margin: 0 2rem;
  //padding: 0 1rem;
  background-color: rgba(0,0,0,.7);
  
}

#gm {
  // background-image: url(/dist/img/mypics/art/green.png);
  background-image: url(/dist/img/mypics/art/lease-pop-out.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(6, 66, 0, 0.7);
  }
  &:hover:after {
    transition: opacity 2.3s;
    opacity: 0;
  }
  h1{
    text-shadow: 3px 3px 5px black;
    padding-bottom: 0;
  }
  // &:hover #gm-desc{

  //     visibility: visible;
  //     opacity: 1;

  // }

  .size img {
    background-color: rgba(247, 247, 247, 0.8);
  }
}

#sc {
  background-image: url(/dist/img/mypics/art/sc-title.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(83, 1, 1, 0.7);
  }
  &:hover:after {
    transition: opacity 2.3s;
    opacity: 0;
  }
  h1{
    text-shadow: 3px 3px 5px black;
    padding-bottom: 0;
  }
  .size img {
    background-color: rgba(247, 247, 247, 0.8);
  }
}

#sg {
  background-image: url(/dist/img/mypics/art/sg-title.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(3, 116, 136, 0.7);
  }
  &:hover:after {
    transition: opacity 2.3s;
    opacity: 0;
  }
  .size img {
    background-color: rgba(247, 247, 247, 0.9);
  }
  h1{
    text-shadow: 3px 3px 5px black;
    padding-bottom: 5px;
  }
}

#pw {
  background-image: url(/dist/img/mypics/background/back1-sm.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba($primary-color, $background-opacity);
  }
  &:hover:after {
    transition: opacity 2.3s;
    opacity: 0;
  }
  h1{
    text-shadow: 3px 3px 5px black;
    padding-bottom: 0;
  }
  // &:hover{
  //   background: rgba($primary-color,0);
  // }

  .size img {
    background-color: rgba(247, 247, 247, 0.8);
  }
}

#drew {
  height: 100%;
  width: 50%;
  top: 70%;
}
// #pw-background{
//   // background: rgba(75, 64, 46, 0.3);
//   background-color: #2c2b2b;
//   z-index: 12000;
//   height: 100%;
//   width: 100%
// }

.github-btn {
  background-image: url(/dist/img/mypics/art/gh-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  border: white solid 3px;
  background-color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 160px;
  margin: 1rem;
  height: 50px;
  border: solid black 1px;
  box-shadow: 2px 2px 5px black;
} 

#gm-github-btn {
  background-color: rgb(202, 202, 202);
  filter: blur(8px);
  -webkit-filter: blur(1px);
}

// .product-container .product-card:before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: #9bdc28;
//   clip-path: circle(150px at 80% 20%);
//   transition: 0.5s ease-in-out;
// }

// .product-container .product-card:hover:before {
//   clip-path: circle(300px at 80% -20%);
// }

// .product-container .product-card:after {
//   content: "Nike";
//   position: absolute;
//   top: 30%;
//   left: -20%;
//   font-size: 12em;
//   font-weight: 800;
//   font-style: italic;
//   color: rgba(255, 255, 255, 0.04);
// }

.product-container .product-card .imgBx {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  transition: 0.5s;
  z-index: 10;
  width: 100%;
  height: 220px;
}

.product-container .product-card:hover .imgBx {
  top: -20%;
  transform: translateY(-40%);
}

.product-container .product-card .imgBx img {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   // transform: translate(-50%, -50%) rotate(-25deg);
  //   transform: translate(-50%, -120%) rotate(-25deg);
  //   width: 270px;
  //   border: none;
  // }
  position: absolute;
  top: 100%;
  left: 50%;
  // transform: translate(-50%, -50%) rotate(-25deg);
  transform: translate(-50%, -150%) rotate(-25deg);
  width: 270px;
  border: none;
}

.product-container .product-card .imgBx img #stamp-champ {
  position: absolute;

  left: 50%;
  // transform: translate(-50%, -50%) rotate(-25deg);
  transform: translate(-50%, -150%) rotate(-25deg);
  width: 270px;
  border: 5px blue solid;
  top: 60%;
}

.product-container .product-card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 9;
}

.product-container .product-card:hover .contentBx {
  height: 410px;
}

.product-container .product-card .contentBx h1 {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: normal;
  color: #fff;
  // background-color: rgba(0,0,0,.6);
  //margin-bottom: 7rem;
  padding: 1rem 0;
}
.product-container .product-card .contentBx h3{
  //background-color: rgba(0,0,0,.6);
  text-transform: uppercase;
}

.product-container .product-card .contentBx .size,
.product-container .product-card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 8px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
 
}
.product-container .product-card .contentBx .size img {
   border: solid black 1px;
   margin-top: 7rem;
   padding: 10px;
   box-shadow: 2px 2px 5px black;
}

.product-container .product-card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.product-container .product-card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.7s;
}

.product-container .product-card .contentBx .size h3,
.product-container .product-card .contentBx .color h3 {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin:0;
}

// .product-container .product-card .contentBx .size span {
//   width: 26px;
//   height: 26px;
//   text-align: center;
//   line-height: 26px;
//   font-size: 14px;
//   display: inline-block;
//   color: #111;
//   background: #fff;
//   margin: 0 5px;
//   transition: 0.5s;
//   border-radius: 4px;
//   cursor: pointer;
// }

// .product-container .product-card .contentBx .color span {
//   width: 20px;
//   height: 20px;
//   background: #ff0;
//   border-radius: 50%;
//   margin: 0 5px;
//   cursor: pointer;
// }

// .product-container .product-card .contentBx .color span:nth-child(2) {
//   background: #9bdc28;
// }

// .product-container .product-card .contentBx .color span:nth-child(3) {
//   background: #03a9f4;
// }

// .product-container .product-card .contentBx .color span:nth-child(4) {
//   background: #e91e63;
// }

.product-container .product-card .contentBx a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.product-container .product-card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

// .project-descriptions {
//   visibility: hidden;
//   opacity: 0;
//   transition: opacity 0.3s;
// }

// #gm-desc, #sc-desc, #sg-desc, #pw-desc {
// visibility: hidden;
// opacity: 0;
// transition: opacity 0.3s;
// }

.text-hidden {
  display: none;
  //  visibility: hidden;
  // opacity: 0;
  // transition: opacity 1.3s;
  //position: absolute;
}

// .text-revealed {
//     visibility: visible;
//       opacity: 1;
// }
